h1 {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    font-size: 300%;
    text-align: center;
    padding: 20px; /* Added padding for spacing inside the border */
    margin: 20px auto; /* Centers the h1 element */
    width: fit-content; /* Adjusts the width to fit the text */
    border-radius: 50px;
}
a{
    text-decoration: none;
}

h5{
    font-size: 250%;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    font-size: 200%;
   
    padding: 15px; /* Added padding for spacing inside the border */
    margin: 20px 100px auto; 
    width: fit-content; /* Adjusts the width to fit the text */
    border-radius: 50px;
}
h4{
    color: white;
    font-size: 500%;
}
h6{
    color: rgb(255, 255, 255);
    font-size: 200%;
    
}
#back{
    color: white;
    
}
h3{
    color: white;
    font-size: 300%;
}